.photo-details-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.remove-photo-button{
    color: red!important;
    background:none;
    border: 1px solid #bdbdbd!important;
    border-radius: 24px;
}

.remove-photo-button:hover{
    background-color: #ffe1e1;
}