<div class="menu">
    <nav >
        <ul class="menu-container">
            <li>
                <a routerLink="/photos" [routerLinkActive]="'selected'" ariaCurrentWhenActive="page">Photos</a>
            </li>
            <li>
                <a routerLink="/favorites" [routerLinkActive]="'selected'" ariaCurrentWhenActive="page">Favorites</a>
            </li>
        </ul>
    </nav>
    <div class="logout">
        <button *ngIf="isLoggedIn" class='logout-button' type="submit" (click)="logout()">Logout</button>
    </div>
</div>