<div class="photo-container" >
    <mat-card class="photo-card" *ngFor="let photo of photosList">
        <mat-card-header>
            <mat-card-title>Photo #{{photo.id}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/{{photo.id}}/300/300" alt="Random Photo">
        <mat-card-actions >
            <button mat-stroked-button class="add-photo-button" (click)="addToFavorites(photo.id)" disabled={{photo.isDisabled}}>Add to Favorites</button>
        </mat-card-actions>
    </mat-card>
</div>