.photo-card {
  max-width: 300px;
  color:black;
  background-color: #e10a60;
}

.add-photo-button{
    color: white !important;
    background-color: black;
    border: 1px solid rgb(43, 33, 49) !important;
    border-radius: 24px;
}

.add-photo-button:hover{
    color: white!important;
    background-color: #dc3c7f;
}

.add-photo-button:disabled,
.add-photo-button[disabled]{
  border: 1px solid #999999!important;
  background-color: #cccccc;
  color: #666666!important;
}

.photo-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 30px 5px;/* x axis, y axis*/
}