<header class="header">
      <app-mainmenu></app-mainmenu>
</header>
<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
    <!--
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side"></div>
    -->
  </div>
</main>
<footer class="footer">
  <span>Created with 🖤❤️‍️ and </span><span style="color:#e10a60">hard work</span>
</footer>


