.photo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  gap: 30px 5px;/* x axis, y axis*/
  margin-top: 20px;
}

.photo-card {
  max-width: 300px;
  color:black;
  background-color: #e10a60;
}

.photo-card:hover {
  color:white;
  background-color: #e10a60;
  opacity: 75%;
}

.title {
    text-decoration: none;
}

.go-back-button{
  color:#e10a60!important;
}